#blob-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #200000;
  pointer-events: none;
  overflow: hidden;
}

.blob {
  height: 20px;
  width: 20px;

  background-color: #2085ff;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  animation: wave 2s ease-in-out infinite;
}

html {
  background-color: #000;
}

@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, -100%);
  }
}
